/*estilos generales*/
/*smartphone*/
  
*{
    padding: 0;
    margin: 0;
}
.envios{
    background-color: rgb(255, 255, 255);
}

body{
   
}

#grilla{
    width: 100%;
    height: 100vh;

}
    
.border {
    border: 1px solid black;
}

header{
    grid-area: header;
    
}

footer{
    grid-area: footer;
    
}
section#productos{
    grid-area: productos;
    
}
section#servicios{
    grid-area: servicios;
    
}
nav{
    grid-area: nav;
    
}
aside{
    grid-area: publicidad;
    
}
#grilla{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "productos"
    "servicios"
    "publicidad" 
    "footer"
    ;
    
    grid-template-columns: 100%;
    grid-template-rows: 100px 2fr 1fr 100px;
    gap: 5px;
}

/*estilos Flex*/
.menuFlex{
    display: flex;
    flex-direction: column;
}

.productosFlex{
    display: flex;
    flex-direction: column;
     background-color: pink;
}

.ola{
    border: 1px solid cyan;
    height: 80%;
    width: 80%;
}


/*tablet*/
@media (min-width:768px ){
    #grilla{
        display: grid;
        grid-template-areas: 
        "header    header"
        "nav       nav"
        "productos productos"
        "servicios publicidad"
        "footer    footer"
        ;
        
        grid-template-columns: 35% auto;
        grid-template-rows: 100px 2fr 1fr 100px;
        gap: 5px;
    }
   
    .menuFlex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .productosFlex{
        display: flex;
        flex-direction: row;
         background-color: pink;
    }
    
}





/*Desktop*/
@media (min-width:1024px){
    #grilla{
        display: grid;
        grid-template-areas: 
        "nav header    header"
        "nav productos publicidad "
        "nav servicios publicidad"
        "nav footer    footer" ;
        
        grid-template-columns: 20% auto 15%;
        grid-template-rows: 100px 2fr 1fr 100px;
        gap: 10px;
    }
    .menuFlex{
        display: flex;
        flex-direction: column;
    }
    
    .productosFlex{
        display: flex;
        flex-direction: row;
        
    }
    
}

/*estilos generales Contacto*/

#grilla2{
    display: grid;
    grid-template-areas: 
    "nav header"
    "nav gps gps"
    "nav footer footer"  ;
    grid-template-columns: 50% 30%;
}
    
.papa{
    width: 40%;
    height: 40%;
}
.caja{
    width: 60px;
    height: 60px;
    margin: 20px;
    background-color: pink;
    animation-name: hola;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.envios{
    background-color: bisque;
}
.carousel-inner{
    text-align: center;
}

.img3{
    height: 20%;
    width: 20%;
}

.cate{
    text-align: center;
}

.imglogo{
    height: 10%;
    width: 10%;
}
